<header>
    <div class="contentLogoLogin">
        <div>    
            <img src="../assets/logoArgentinaPrograma.jpg" alt="logoArgProg">
            <p>#Yo Programo</p>
        </div>                
    </div>
    <div class="contentProfile">
        <img src="../assets/avatar.jpg" alt="imgPerfil">
        <a href="#" class="btn-abrir-popup2" id="btn-abrir-popup2"><i class="fa-solid fa-pencil"></i></a>
        <h3>Natalia Schwindt</h3>
        <p>Full Stack Developer Junior</p>
    </div>
    <img class="clave" src="../assets/claveDeSol.png" alt="clave de sol">
<div class="contenedor2">
    <div class="overlay2" id="overlay2">
        <div class="popup2" id="popup2">
            <a href="#" class="btn-cerrar-popup2" id="btn-cerrar-popup2"><i class="fas fa-times"></i></a>
            <h3>Ingrese los datos.</h3>
            <form action="#">
                <div class="contenedor2-inputs">
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Apellido">
                    <input type="text" placeholder="Título">
                    <input type="text" placeholder="Url de la foto">
                </div>
                <input type="submit" class="btn-submit" value="Enviar">
            </form>
        </div>
    </div>
</div>
</header>
<script src="header.component.ts"></script>
