@use 'src/variables';
@use 'src/mixins';

nav{
    @include mixins.flexBox(row, space-between);
    align-items: stretch;;
    padding: 0 5px;
    & h3{
        font-size: variables.$fontSizeParagraphMobile;
        @include mixins.mediaQuery(variables.$breakPointDesktop){
            font-size: variables.$fontSizeLargeParagraph;
        }
    }
    & div{
        @include mixins.flexBox(row, flex-end, center);
        width: 32%;
        & a{
            color: variables.$colorTertiary;
            margin-right: 2px;
            @include mixins.mediaQuery(variables.$breakPointDesktop){
                font-size: variables.$fontSizeSubTitle;
            }
        }
    }
}