@use 'src/variables';
@use 'src/mixins';

nav{
    @include mixins.flexBox(row, space-between);
    align-items: stretch;;
    padding: 0 5px;
    & h3{
        font-size: variables.$fontSizeParagraphMobile;
        @include mixins.mediaQuery(variables.$breakPointDesktop){
            font-size: variables.$fontSizeLargeParagraph;
        }
    }
    & div{
        @include mixins.flexBox(row, flex-end, center);
        width: 32%;
        & a{
            color: variables.$colorTertiary;
            margin-right: 2px;
            @include mixins.mediaQuery(variables.$breakPointDesktop){
                font-size: variables.$fontSizeSubTitle;
            }
        }
        & button{
            @include mixins.container(variables.$colorTertiary, unset, unset, unset, variables.$paddingButton, variables.$borderBox, variables.$borderRadiusButton);
            color: variables.$colorSecondary;
            font-size: variables.$fontSizeTextMobile;
            display: none;
        }
    }
}
.contenedor{
    .overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    z-index: 1;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    }
.overlay.active{
    visibility: visible;
    }
.popup{
    background: #f8f8f8;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
    border-radius: 3px;
    font-family: variables.$fontTitle;
    padding: 20px;
    text-align: center;
    width: 550px;
    transition: .3s ease all;
    transform: scale(.7);
    opacity: 0;
    }
.popup .btn-cerrar-popup{
    font-size: 18px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
    }
.popup .btn-cerrar-popup:hover{
    color: #000;
    }
.popup h3{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
    opacity: 0;
    }
.popup h4{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0;
    }
.popup form .contenedor-inputs{
    opacity: 0;
    }
.popup form .contenedor-inputs input{
    width: 90%;
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;
    }
.popup form .contenedor-inputs .mensaje{
    margin-bottom: 15px;
    font-family: variables.$fontTitle;
    font-size: 18px;
    line-height: 40px;
    font-weight: 450;
    color: #575555;
    padding: 10px 0 0 10px;
    border: 1px solid #BBBBBB;
}
.popup form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #FFF;
    background: variables.$colorTertiary;
    border-radius: 3px;
    font-family: variables.$fontSubTitle;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    }
.popup form .btn-submit:hover{
    background: rgba(94,125,227,.9);
    }
.popup.active{
    opacity: 1;
    transform: scale(1);
    }
.popup.active h3{
    animation: entradaTitulo .8s ease .5s forwards;
    }
.popup.active h4{
    animation: entradaSubTitulo .8s ease .5s forwards;
    }
.popup.active .contenedor-inputs{
    animation: entradaInputs 1s ease 1s forwards;
    }
}
@keyframes entradaTitulo {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        }
    }
@keyframes entradaSubTitulo {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        }
    }
@keyframes entradaInputs {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        }
    }