<nav>
    <h3>Natalia Schwindt</h3>
    <div>
            <a href="https://www.facebook.com/natyschwindt" rel="noopener" title="facebook" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.linkedin.com/in/natalia-schwindt-3a3438115/" rel="noopener" title="linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/natalia.schwindt/" rel="noopener" title="instagram" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#" title="e-mail" id="btn-abrir-popup"><i class="fa-solid fa-square-envelope"></i></a>
            <button>Logout</button>
    </div>
</nav>
<div class="contenedor">
    <div class="overlay" id="overlay">
        <div class="popup" id="popup">
            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
            <h3>Envíeme sus datos</h3>
            <h4>y en breve me pondré en contacto con usted.</h4>
            <form action="#">
                <div class="contenedor-inputs">
                    <input type="text" placeholder="Nombre" required>
                    <input type="email" placeholder="Email" required>
                    <textarea class="mensaje" name="Mensaje" rows="5" cols="48" placeholder="Mensaje.." required></textarea>
                </div>
                <input type="submit" class="btn-submit" value="Enviar">
            </form>
        </div>
    </div>
</div>
<script src="nav.component.ts"></script>
