<nav>
    <h3>Natalia Schwindt</h3>
    <div>
            <a href="https://www.facebook.com/natyschwindt" rel="noopener" title="facebook" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.linkedin.com/in/natalia-schwindt-3a3438115/" rel="noopener" title="linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/natalia.schwindt/" rel="noopener" title="instagram" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="mailto:naty8014@gmail.com" title="e-mail"><i class="fa-solid fa-square-envelope"></i></a>
    </div>
</nav>
<script src="nav.component.ts"></script>
