@use 'src/variables';
@use 'src/mixins';

.sectionHeader{
    @include mixins.flexBox(row, space-between);
    padding: 5px;
    & h2{
        font-size: variables.$fontSizeTitleMobile;
        @include mixins.mediaQuery(variables.$breakPointTablet){
            font-size: variables.$fontSizeTitleTablet;
        }
        @include mixins.mediaQuery(variables.$breakPointDesktop){
            font-size: variables.$fontSizeSubTitle;
            padding-left: 10px;
        }
        @include mixins.mediaQuery(variables.$breakPointLargeDesktop){
            margin: 20px 0;
        }
    }
    & a{
        //display: none;
    }
}
.contenedor9{
    .overlay9{
        background: rgba(0,0,0,.3);
        position: fixed;
        z-index: 1;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }
    .overlay9.active{
        visibility: visible;
    }
    .popup9{
        background: #f8f8f8;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
        border-radius: 3px;
        font-family: variables.$fontTitle;
        padding: 20px;
        text-align: center;
        width: 550px;
        transition: .3s ease all;
        transform: scale(.7);
        opacity: 0;
    }
    .popup9 .btn-cerrar-popup9{
        font-size: 18px;
        line-height: 16px;
        display: block;
        text-align: right;
        color: #BBBBBB;
        transition: .3s ease all;
    }
    .popup9 .btn-cerrar-popup9:hover{
        color: #000;
    }
    .popup9 h3{
        font-size: 28px;
        font-weight: 200;
        margin-bottom: 10px;
        opacity: 0;
    }
    .popup9 form .contenedor9-inputs{
        opacity: 0;
    }
    .popup9 form .contenedor9-inputs input{
        width: 90%;
        margin-bottom: 15px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        text-align: center;
        border: 1px solid #BBBBBB;
    }
    .popup9 form .btn-submit{
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        border: none;
        color: #FFF;
        background: variables.$colorTertiary;
        border-radius: 3px;
        font-family: variables.$fontSubTitle;
        font-size: 16px;
        cursor: pointer;
        transition: .3s ease all;
    }
    .popup9 form .btn-submit:hover{
        background: rgba(94,125,227,.9);
    }
    .popup9.active{
        opacity: 1;
        transform: scale(1);
    }
    .popup9.active h3{
        animation: entradaTitulo .8s ease .5s forwards;
    }
    .popup9.active .contenedor9-inputs{
        animation: entradaInputs 1s ease 1s forwards;
    }
}
@keyframes entradaTitulo {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        }
    }
@keyframes entradaInputs {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        }
}
.contenedor10{
    .overlay10{
        background: rgba(0,0,0,.3);
        position: fixed;
        z-index: 1;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }
    .overlay10.active{
        visibility: visible;
    }
    .popup10{
        background: #f8f8f8;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
        border-radius: 3px;
        font-family: variables.$fontTitle;
        padding: 20px;
        text-align: center;
        width: 550px;
        transition: .3s ease all;
        transform: scale(.7);
        opacity: 0;
    }
    .popup10 .btn-cerrar-popup10{
        font-size: 18px;
        line-height: 16px;
        display: block;
        text-align: right;
        color: #BBBBBB;
        transition: .3s ease all;
    }
    .popup10 .btn-cerrar-popup10:hover{
        color: #000;
    }
    .popup10 h3{
        font-size: 28px;
        font-weight: 200;
        margin-bottom: 10px;
        opacity: 0;
    }
    .popup10 form .contenedor10-inputs{
        opacity: 0;
    }
    .popup10 form .contenedor10-inputs input{
        width: 90%;
        margin-bottom: 15px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        text-align: center;
        border: 1px solid #BBBBBB;
    }
    .popup10 form .btn-submit{
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        border: none;
        color: #FFF;
        background: variables.$colorTertiary;
        border-radius: 3px;
        font-family: variables.$fontSubTitle;
        font-size: 16px;
        cursor: pointer;
        transition: .3s ease all;
    }
    .popup10 form .btn-submit:hover{
        background: rgba(94,125,227,.9);
    }
    .popup10.active{
        opacity: 1;
        transform: scale(1);
    }
    .popup10.active h3{
        animation: entradaTitulo .8s ease .5s forwards;
    }
    .popup10.active .contenedor10-inputs{
        animation: entradaInputs 1s ease 1s forwards;
    }
}
@keyframes entradaTitulo {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        }
    }
@keyframes entradaInputs {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        }
}
.contenedor11{
    .overlay11{
        background: rgba(0,0,0,.3);
        position: fixed;
        z-index: 1;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }
    .overlay11.active{
        visibility: visible;
    }
    .popup11{
        background: #f8f8f8;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
        border-radius: 3px;
        font-family: variables.$fontTitle;
        padding: 20px;
        text-align: center;
        width: 550px;
        transition: .3s ease all;
        transform: scale(.7);
        opacity: 0;
    }
    .popup11 .btn-cerrar-popup11{
        font-size: 18px;
        line-height: 16px;
        display: block;
        text-align: right;
        color: #BBBBBB;
        transition: .3s ease all;
    }
    .popup11 .btn-cerrar-popup11:hover{
        color: #000;
    }
    .popup11 h3{
        font-size: 28px;
        font-weight: 200;
        margin-bottom: 10px;
        opacity: 0;
    }
    .popup11 form .contenedor11-inputs{
        opacity: 0;
    }
    .popup11 form .contenedor11-inputs input{
        width: 90%;
        margin-bottom: 15px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        text-align: center;
        border: 1px solid #BBBBBB;
    }
    .popup11 form .btn-submit{
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        border: none;
        color: #FFF;
        background: variables.$colorTertiary;
        border-radius: 3px;
        font-family: variables.$fontSubTitle;
        font-size: 16px;
        cursor: pointer;
        transition: .3s ease all;
    }
    .popup11 form .btn-submit:hover{
        background: rgba(94,125,227,.9);
    }
    .popup11.active{
        opacity: 1;
        transform: scale(1);
    }
    .popup11.active h3{
        animation: entradaTitulo .8s ease .5s forwards;
    }
    .popup11.active .contenedor11-inputs{
        animation: entradaInputs 1s ease 1s forwards;
    }
}
@keyframes entradaTitulo {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        }
    }
@keyframes entradaInputs {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        }
}
.sectionBody{
    @include mixins.flexBox(column, center, center);
    @include mixins.mediaQuery(variables.$breakPointLargeDesktop){
        @include mixins.flexBox(row, space-evenly, flex-start);
    }
    .card{
        width: 80%;
        padding: 20px 0;
        @include mixins.mediaQuery(variables.$breakPointLargeDesktop){
            width: 26%;
            margin: 15px 0;
        }
    }
    .html5{
        @include mixins.circleProgress("HTML5", 80, #E44D26);
    }
    .css3{
        @include mixins.circleProgress("CSS3", 70, #379AD6);
    }
    .sass{
        @include mixins.circleProgress("SASS", 90, #CD669B);
    }
    .boostrap{
        @include mixins.circleProgress("BOOTSTRAP", 10, #790FF7);
    }
    .javascript{
        @include mixins.circleProgress("JAVASCRIPT", 50, #F0DB4F);
    }
    .typescript{
        @include mixins.circleProgress("TYPESCRIPT", 50, #0078CF);
    }
    .angular{
        @include mixins.circleProgress("ANGULAR", 60, #DD1A15);
    }
    .mysql{
        @include mixins.circleProgress("MySQL", 50, #017A9D);
    }
    .java{
        @include mixins.circleProgress("Java", 50, #0db352);
    }
    .springboot{
        @include mixins.circleProgress("SpringBoot", 60, #b8c22e);
    }
    .trabajoEnEquipo{
        @include mixins.sidebar("Trabajo en equipo", 80, #f8dd2b);
    }
    .liderazgo{
        @include mixins.sidebar("Liderazgo", 90, #4747e9);
    }
    .comunicacionAsertiva{
        @include mixins.sidebar("Comunicación asertiva", 90, #0bd21f);
    }
    .atencionAlCliente{
        @include mixins.sidebar("Atención al cliente", 90, #d94fb9);
    }
    .capacidadAnalitica{
        @include mixins.sidebar("Capacidad analítica", 60, #0078CF);
    }
    .atencionAlDetalle{
        @include mixins.sidebar("Atención al detalle", 95, #CD669B);
    }
    .deseosDeAprender{
        @include mixins.sidebar("Deseos de aprender", 98, #DD1A15);
    }
    .adaptabilidad{
        @include mixins.sidebar("Adaptabilidad", 60, #f8dd2b);
    }
    .scrum {
        @include mixins.sidebar("SCRUM", 40, #0bd21f);
    }
    & h3{
        font-size: variables.$fontSizeSubtitleMobile;
        @include mixins.mediaQuery(variables.$breakPointTablet){
            font-size: variables.$fontSizeSubTitleTablet;
        }
        @include mixins.mediaQuery(variables.$breakPointDesktop){
            font-size: variables.$fontSizeLargeParagraph;
        }
        @include mixins.mediaQuery(variables.$breakPointLargeDesktop){
            font-size: variables.$fontSizeSubTitle;
        }
    }
}
    .idiomas{
        margin: 20px 0 10px;
    }
    hr{
        background-color: variables.$colorQuinary;
        width: 90%;
        height: 2px;
        margin: 20px auto;
    }