@use 'variables';
@use 'mixins';
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: variables.$colorPrimary;
    font-family: variables.$fontParagraph;
    @include mixins.flexBox(column, center, center);
}