<section>
    <div class="sectionHeader">
        <h2><i class="fa-solid fa-graduation-cap"></i> Educación</h2>
        <div *ngIf="Logged">
            <a href="#" class="log" class="btn-abrir-popup3" id="btn-abrir-popup3"><i class="fa-solid fa-plus"></i></a>
            <a href="#" class="log" class="btn-abrir-popup4" id="btn-abrir-popup4"><i class="fa-solid fa-pencil"></i></a>
            <a href="#" class="log" class="btn-abrir-popup5" id="btn-abrir-popup5"><i class="fa-solid fa-trash-can"></i></a>
        </div>
    </div>
    <div class="contenedor3">
        <div class="overlay3" id="overlay3">
            <div class="popup3" id="popup3">
                <a href="#" class="btn-cerrar-popup3" id="btn-cerrar-popup3"><i class="fas fa-times"></i></a>
                <h3>Ingrese los datos a agregar.</h3>
                <form [formGroup]="form">
                    <div class="contenedor3-inputs">
                        <input formControlName="carrera" type="text" placeholder="Carrera">
                        <input formControlName="Institución" type="text" placeholder="Institución">
                        <input formControlName="Año" type="text" placeholder="Año">
                        <input formControlName="UrlDelLogo" type="text" placeholder="Url del logo">
                    </div>
                    <input type="submit" class="btn-submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
    <div class="contenedor4">
        <div class="overlay4" id="overlay4">
            <div class="popup4" id="popup4">
                <a href="#" class="btn-cerrar-popup4" id="btn-cerrar-popup4"><i class="fas fa-times"></i></a>
                <h3>Ingrese los datos a editar.</h3>
                <form action="#">
                    <div class="contenedor4-inputs">
                        <input type="text" placeholder="Carrera">
                        <input type="text" placeholder="Institución">
                        <input type="text" placeholder="Año">
                        <input type="text" placeholder="Url del logo">
                    </div>
                    <input type="submit" class="btn-submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
    <div class="contenedor5">
        <div class="overlay5" id="overlay5">
            <div class="popup5" id="popup5">
                <a href="#" class="btn-cerrar-popup5" id="btn-cerrar-popup5"><i class="fas fa-times"></i></a>
                <h3>Ingrese el estudio a eliminar.</h3>
                <form action="#">
                    <div class="contenedor5-inputs">
                    <input type="text" placeholder="Carrera">
                    <input type="text" placeholder="Institución">
                </div>
                    <input type="submit" class="btn-submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
    <div class="sectionBody">
        <div class="card">
            <h3>Full Stack Developer Junior</h3>
            <div>
                <div>
                    <p>Argentina Programa #Yo Programo</p>
                    <p>2021 - 2022</p>
                </div>
                <a href="https://argentinaprograma.inti.gob.ar/" rel="noopener" target="_blank"><img src="./assets/logoArgentinaPrograma.jpg" alt="argProg"></a>
            </div>
        </div>

        <div class="card">
            <h3>Curso de Desarrollo con Stack Mean/Mern</h3>
            <div>
                <div>
                    <p>Talleres Don Web - Online</p>
                    <p>2022</p>
                </div>
                <a href="https://talleres.donweb.com/" rel="noopener" target="_blank"><img src="./assets/logo-talleresdonweb.png" alt="tallDonWeb"></a>
            </div>
        </div>

        <div class="card">
            <h3>Soporte Operativo para PC</h3>
            <div>    
                <div>
                    <p>Inst. Sup. de Form. Doc. y Téc. Nº48 - Cnel. Suárez</p>
                    <p>1999 - 2000</p>
                </div>
                <a href="https://isfdyt48-bue.infd.edu.ar/sitio/" rel="noopener" target="_blank"><img src="./assets/logoInstSupNº48.png" alt="institutoNº48"></a>
            </div>
        </div>
    </div>
    <hr>
</section>

<section>
    <div class="sectionHeader">
        <h2><i class="fa-solid fa-laptop-code"></i> Experiencia Laboral</h2>
        <div *ngIf="Logged">
            <a href="#" class="log" class="btn-abrir-popup6" id="btn-abrir-popup6"><i class="fa-solid fa-plus"></i></a>
            <a href="#" class="log" class="btn-abrir-popup7" id="btn-abrir-popup7"><i class="fa-solid fa-pencil"></i></a>
            <a href="#" class="log" class="btn-abrir-popup8" id="btn-abrir-popup8"><i class="fa-solid fa-trash-can"></i></a>
        </div>
    </div>
    <div class="contenedor6">
        <div class="overlay6" id="overlay6">
            <div class="popup6" id="popup6">
                <a href="#" class="btn-cerrar-popup6" id="btn-cerrar-popup6"><i class="fas fa-times"></i></a>
                <h3>Ingrese los datos a agregar.</h3>
                <form action="#">
                    <div class="contenedor6-inputs">
                        <input type="text" placeholder="Empresa">
                        <input type="text" placeholder="Puesto">
                        <input type="text" placeholder="Año">
                        <input type="text" placeholder="Url del logo">
                    </div>
                    <input type="submit" class="btn-submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
    <div class="contenedor7">
        <div class="overlay7" id="overlay7">
            <div class="popup7" id="popup7">
                <a href="#" class="btn-cerrar-popup7" id="btn-cerrar-popup7"><i class="fas fa-times"></i></a>
                <h3>Ingrese los datos a editar.</h3>
                <form action="#">
                    <div class="contenedor7-inputs">
                        <input type="text" placeholder="Empresa">
                        <input type="text" placeholder="Puesto">
                        <input type="text" placeholder="Año">
                        <input type="text" placeholder="Url del logo">
                    </div>
                    <input type="submit" class="btn-submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
    <div class="contenedor8">
        <div class="overlay8" id="overlay8">
            <div class="popup8" id="popup8">
                <a href="#" class="btn-cerrar-popup8" id="btn-cerrar-popup8"><i class="fas fa-times"></i></a>
                <h3>Ingrese el trabajo a eliminar.</h3>
                <form action="#">
                    <div class="contenedor8-inputs">
                        <input type="text" placeholder="Empresa">
                        <input type="text" placeholder="Puesto">
                    </div>
                    <input type="submit" class="btn-submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
    <div class="sectionBody">
        <div class="card">
            <h3>Simplia</h3>
            <div>
                <div>
                    <p>Limpieza en Bancos</p>
                    <p>2018 - Actualidad</p>
                </div>
                <a href="https://www.simpliafacility.com/contacto-facility-solutions/" rel="noopener" target="_blank"><img src="./assets/logoSimplia.png" alt="logoSimplia"></a>
            </div>
        </div>
        <div class="card">
            <h3>Prosegur</h3>
            <div>
                <div>
                    <p>Seguridad Privada</p>
                    <p>2012 - 2016</p>
                </div>
                <a href="https://www.prosegur.com.ar/personas" rel="noopener" target="_blank"><img src="./assets/logoProsegur.png" alt="logoProsegur" bgcolor="yellow"></a>
            </div>
        </div>
    </div>
    <hr>
</section>

<section>
    <div class="sectionHeader">
        <h2><i class="fa-solid fa-users"></i> Hard Skills & Soft Skills</h2>
        <div *ngIf="Logged">
            <a href="#" class="log" class="btn-abrir-popup9" id="btn-abrir-popup9"><i class="fa-solid fa-plus"></i></a>
            <a href="#" class="log" class="btn-abrir-popup10" id="btn-abrir-popup10"><i class="fa-solid fa-pencil"></i></a>
            <a href="#" class="log" class="btn-abrir-popup11" id="btn-abrir-popup11"><i class="fa-solid fa-trash-can"></i></a>
        </div>
    </div>
    <div class="contenedor9">
        <div class="overlay9" id="overlay9">
            <div class="popup9" id="popup9">
                <a href="#" class="btn-cerrar-popup9" id="btn-cerrar-popup9"><i class="fas fa-times"></i></a>
                <h3>Ingrese el hard skill a agregar.</h3>
                <form action="#">
                    <div class="contenedor9-inputs">
                        <input type="text" placeholder="Nombre">
                        <input type="text" placeholder="Porcentaje">
                        <h3>Ingrese el soft skill a agregar.</h3>
                        <input type="text" placeholder="Nombre">
                        <input type="text" placeholder="Porcentaje">
                        <h3>Ingrese el idioma a agregar.</h3>
                        <input type="text" placeholder="Idioma">
                        <input type="text" placeholder="Nivel">
                    </div>
                    <input type="submit" class="btn-submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
    <div class="contenedor10">
        <div class="overlay10" id="overlay10">
            <div class="popup10" id="popup10">
                <a href="#" class="btn-cerrar-popup10" id="btn-cerrar-popup10"><i class="fas fa-times"></i></a>
                <h3>Ingrese el hard skill a editar.</h3>
                <form action="#">
                    <div class="contenedor10-inputs">
                        <input type="text" placeholder="Nombre">
                        <input type="text" placeholder="Porcentaje">
                        <h3>Ingrese el soft skill a editar.</h3>
                        <input type="text" placeholder="Nombre">
                        <input type="text" placeholder="Porcentaje">
                        <h3>Ingrese el idioma a editar.</h3>
                        <input type="text" placeholder="Idioma">
                        <input type="text" placeholder="Nivel">
                    </div>
                    <input type="submit" class="btn-submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
    <div class="contenedor11">
        <div class="overlay11" id="overlay11">
            <div class="popup11" id="popup11">
                <a href="#" class="btn-cerrar-popup11" id="btn-cerrar-popup11"><i class="fas fa-times"></i></a>
                <h3>Ingrese el hard skill a eliminar.</h3>
                <form action="#">
                    <div class="contenedor11-inputs">
                        <input type="text" placeholder="Nombre">
                        <h3>Ingrese el soft skill a eliminar.</h3>
                        <input type="text" placeholder="Nombre">                                    
                        <h3>Ingrese el idioma a eliminar.</h3>
                        <input type="text" placeholder="Idioma">                                    
                    </div>
                    <input type="submit" class="btn-submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
    <div class="sectionBody">
        <div class="card">
            <h3>Hard Skills</h3>
            <div>
                <div class="html5"></div>
                <div class="css3"></div>
                <div class="sass"></div>
                <div class="boostrap"></div>
                <div class="javascript"></div>
                <div class="typescript"></div>
                <div class="angular"></div>
                <div class="mysql"></div>
                <div class="java"></div>
                <div class="springboot"></div>
            </div>
        </div>
        <div class="card">
            <h3>Soft Skills</h3>
            <div>
                <div class="trabajoEnEquipo"></div>
                <div class="liderazgo"></div>
                <div class="comunicacionAsertiva"></div>
                <div class="atencionAlCliente"></div>
                <div class="capacidadAnalitica"></div>
                <div class="atencionAlDetalle"></div>
                <div class="deseosDeAprender"></div>
                <div class="adaptabilidad"></div>
                <div class="scrum"></div>
            </div>
        </div>
        <div class="card">
            <h3 class="idiomas">Idiomas</h3>
            <div class="card">
                <ul type="circle">
                    <li>Inglés inicial</li>
                    <li>Ruso inicial</li>
                </ul>
            </div>
        </div>  
    </div>
    <hr>
</section>

<section>
    <div class="sectionHeader">
        <h2><i class="fa-solid fa-code"></i> Proyectos</h2>
        <div *ngIf="Logged">
            <a href="#" class="log" title="e-mail" id="btn-abrir-popup12"><i class="fa-solid fa-plus"></i></a>
            <a href="#" class="log" title="e-mail" id="btn-abrir-popup13"><i class="fa-solid fa-pencil"></i></a>
            <a href="#" class="log" title="e-mail" id="btn-abrir-popup14"><i class="fa-solid fa-trash-can"></i></a>
        </div>
    </div>
    <div class="contenedor12">
        <div class="overlay12" id="overlay12">
            <div class="popup12" id="popup12">
                <a href="#" id="btn-cerrar-popup12" class="btn-cerrar-popup12"><i class="fas fa-times"></i></a>
                <h3>Ingrese el proyecto a agregar.</h3>                            
                <form action="#">
                    <div class="contenedor12-inputs">
                        <input type="text" placeholder="Nombre">
                        <input type="text" placeholder="Estado">
                        <textarea class="mensaje" name="Descripción" rows="5" cols="48" placeholder="Descripción.." required></textarea>
                    </div>
                    <input type="submit" class="btn-submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
    <div class="contenedor13">
        <div class="overlay13" id="overlay13">
            <div class="popup13" id="popup13">
                <a href="#" id="btn-cerrar-popup13" class="btn-cerrar-popup13"><i class="fas fa-times"></i></a>
                <h3>Ingrese el proyecto a editar.</h3>
                <form action="#">
                    <div class="contenedor13-inputs">
                        <input type="text" placeholder="Nombre">
                        <input type="text" placeholder="Estado">
                        <textarea class="mensaje" name="Descripción" rows="5" cols="48" placeholder="Descripción.." required></textarea>
                    </div>
                    <input type="submit" class="btn-submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
    <div class="contenedor14">
        <div class="overlay14" id="overlay14">
            <div class="popup14" id="popup14">
                <a href="#" id="btn-cerrar-popup14" class="btn-cerrar-popup14"><i class="fas fa-times"></i></a>
                <h3>Ingrese el proyecto a eliminar.</h3>
                <form action="#">
                    <div class="contenedor14-inputs">
                        <input type="text" placeholder="Nombre">
                        <input type="text" placeholder="Estado">                                    
                    </div>
                    <input type="submit" class="btn-submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
    <div class="sectionBody">
        <div class="card">
            <h3>DCards</h3>
            <div>
                <p>(En proceso)</p>
                <p>Esta es una página de tarjetas electrónicas. No sólo contiene los datos del comercio, sino que además se puede acceder a todos sus productos y comprarlos. Se puede gestionar el envío y pagar.</p>
                <a href="#" title="DCards"></a>
            </div>
        </div>
        <div class="card">
            <h3>onlysoncomic.com</h3>
            <div>
                <p>(En proceso)</p>
                <p>Esta es una página de comics. Consta de varias páginas sdonde se puede acceder a los capítulos, material extra y ponerse en contacto con la autora.</p>
                <a href="#" title="onlysoncomic"></a>
            </div>
        </div>

        <div class="card">
            <h3>Recetas para todos los días</h3>
            <div>
                <p>(En proceso)</p>
                <p>Esta es una página de recetas realizadas cotidianamente. Sirve como un recuerdo de recetas sencillas al momento de decidir qué cocinar todos los días. Pueden ver recetas, enviar recetas para que las agregue una vez probadas, o ponerse en contacto conmigo.</p>
                <a href="#" title="Recetas para todos los días"></a>
            </div>
        </div>
    </div>
</section>
<script src="section.component.ts">
    /*function Mostrar(){
    //mostrar formulario login
    document.getElementsByClassName("log").style.display = "block";
    //ocultar botones edicion
    document.getElementsByClassName("log").style.display = "none";
    //cambiar nombre de botón a login
    document.getElementById("boton").value = "login";
    
};

function Ocultar(){
    //ocultar formulario login
    document.getElementsByClassName("log").style.display = "none";
    //mostrar botones edicion
    document.getElementsByClassName("log").style.display = "block";
    //cambiar nombre de botón a logout
    document.getElementById("boton").value = "logout"
};

function Login_logout(){
var log = document.getElementsByClassName("log");
if (log.style.display === "block"){
    Ocultar();
    } else {
    if (log.style.display === "none"){
        Mostrar();
        }
    }
}*/
</script>
